################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ELKApiSolution/.vs/ELKApiSolution/v16
/ELKApiSolution/ELKApi/obj
/ELKApiSolution/ELKApi/bin/Debug/net5.0
/ELKApiSolution/.vs/ELKApiSolution
/ELKApiSolution/ELKApi.Tests/bin/Debug/net5.0
/ELKApiSolution/ELKApi.Tests/obj
/ELKApiSolution/ELKApi/appsettings.Development.json
/ELKApiSolution/ELKApi.Tests/bin/Release/net5.0
