################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ELKApiSolution/.vs/ELKApiSolution/v16
/ELKApiSolution/ELKApi/obj
/ELKApiSolution/ELKApi/bin
/ELKApiSolution/.vs/ELKApiSolution
/ELKApiSolution/ELKApi.Tests/obj
/ELKApiSolution/ELKApi.Tests/bin
/ELKApiSolution/ELKApi/appsettings.Development.json
